/****************************************************************
ALGEMEEN
*****************************************************************/

@font-face {
    font-family: AppleFontTekst;
    src: url("fonts/SFUIText/SFUIText-Regular.otf");
  }

/* hieronder zijn de variabelen aangemaakt met bijbehorende kleurencodes, zodat je bij meerdere elementen alleen de variable
hoeft te noemen, en dan haalt hij de gegeven kleur van de variable naar voren. Als er dus een bepaalde aanpassing komt aan de huisstijl
van de website, kan je dus in één keer alle knoppen (bijvoorbeeld) een ander kleur geven, door de variabele aan te passen
dit scheelt dus werk en is overzichtelijker */
:root {
    --backgroundcolorNav: rgb(51, 51, 51);
    --backgroundcolorFirstSection: rgb(251, 251, 253);
    --textcolorAtjes: rgb(0, 0, 0);
    --textcolorNavjes: rgb(255, 255, 255);
    --backgroundcolorThirdsection: rgb(255, 255, 224);
    --textcolorThirdsection: rgb(255, 165, 0);
    --backgroundcolorFourthsection: rgb(173, 201, 215);
    --textcolorFourthsection: rgb(47, 65, 173);
    --backgroundcolorPaars: rgb(221, 160, 221);
    --textcolorPaars: rgb(128, 0, 128);
    --backgroundcolorGroen: rgb(144, 238, 144);
    --textcolorGroen: rgb(0, 100, 0);
    --backgroundcolorBlauw: rgb(135, 206, 250);
    --textcolorBlauw: rgb(0, 0, 139);
    --backgroundcolorRood: rgb(216, 112, 147);
    --textcolorRood: rgb(139, 0, 0);
    --backgroundcolorGoud: rgb(255, 255, 224);
    --textcolorGoud: rgb(255, 140, 0);
    --backgroundcolorZwart: rgb(97, 108, 119);
    --textcolorZwart: rgb(0, 0, 0);
}
*, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: AppleFontTekst;    
}

h1 {
    font-size: 5em;
    padding: .5em;
}

p {
    font-size: 2em;
    max-width: 15em;
}

button {
    border: none;
    cursor: pointer;
}

a {
    list-style: none;
    text-decoration: none;
    color: var(--textcolorAtjes);
}

li {
    list-style: none;
}





/****************************************************************
HEADER
*****************************************************************/
header {
    background-color: var(--backgroundcolorNav);
    /* de positie van de header is fixed, dat betekent dat hij altijd blijft staan zodra er gescrolld wordt */
    position:fixed;
    width: 100%;
    z-index:100;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 1.5em;
}
nav > ul {
    background-color: var(--backgroundcolorNav);
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    padding-left: 2em;
    padding-top:2em;
    font-size: 3em;
    

    /* zorgt ervoor dar de navigatie niet in beeld is */  
    transform: translateX(-100%); 
}

nav > ul>li>a {
    color: var(--textcolorNavjes);
}

.hamburger {

    /* hieronder zorgt ervoor dat de button boven de content steekt */
    position:relative;
    z-index: 200;
    background-color: transparent;
}

nav.toonMenu ul {
    /* dit wordt gebruikt bij de functie toonMenu in javascript,
    het zorgt ervoor dat de navigatie in beeld schuift  */
    transform: translateX(0%);
    transition: .4s;
}

.tasje {
    background-color: transparent;
}





/****************************************************************
EERSTE SECTIE
*****************************************************************/
section:first-of-type {
    background-color:var(--backgroundcolorFirstSection);
    display: flex;
    justify-content: center;
}

section:first-of-type ul {
    /* ik kom er niet uit hoe ik de tekst met plaatje mooi gecentreerd onderelkaar krijg */
    display: flex;
    align-content: center;
    justify-content:center;
    flex-direction: row;
    min-width: 30em;
    max-width: 100em;
    padding-top: 8em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;

    /* overflow zorgt ervoor dat de balk scrollbaar is op een kleiner scherm */
    overflow: scroll;
    scroll-behavior: smooth;
    list-style: none;
}





/****************************************************************
TWEEDE SECTIE
*****************************************************************/
section:nth-of-type(2) {
    background-color: var(--backgroundcolorFirstSection);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

section:nth-of-type(2)>img {
    padding: 10em;
    width: 30em;
    transition: .3s;
    min-width: 10em;
}

section:nth-of-type(2)>p:first-of-type {
    font-size: 4em;
    padding-bottom: 1em;
    font-style: italic;
}

/* met behulp van Sanne :) */
section:nth-of-type(2) > img:hover  {
    transform:scale(1.5);
} 

section:nth-of-type(2)>p:nth-of-type(3) {
    color: var(--backgroundcolorNav);
    padding: 2em;
}





/****************************************************************
DERDE SECTIE
*****************************************************************/
section:nth-of-type(3) {
    background-color: var(--backgroundcolorThirdsection);
    padding-top: 5em;
    padding-bottom: 5em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

section:nth-of-type(3)>h2 {
    color: var(--textcolorThirdsection);
    padding-bottom: 3em;
    font-size: 4em;
}

section:nth-of-type(3) > ul > li > img {
    width: 10em;
    transition: .3s;
    padding-bottom: 1em;
}

section:nth-of-type(3) > ul > li > img:hover  {
    /* width: 15em; */
    transform:scale(1.5);
} 

section:nth-of-type(3)>ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: var(--textcolorThirdsection);
    list-style: none;
    font-size: 2em;
    font-weight: bold;
}

section:nth-of-type(3) p {
    font-size: 1em;
}





/****************************************************************
VIERDE SECTIE
*****************************************************************/
section:nth-of-type(4) {
    background-color: var(--backgroundcolorFourthsection);
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

section:nth-of-type(4) > img {
    width: 20em;
    transition: .3s;
    padding-bottom: 8em;
}

section:nth-of-type(4) > img:hover {
    /* width: 15em; */
    transform:scale(1.5);
} 

section:nth-of-type(4)>h2 {
    color: var(--textcolorFourthsection);
    max-width: 15em;
    padding-bottom: 2em;
    font-size: 4em;
}




/****************************************************************
VIJFDE SECTIE
*****************************************************************/
section:nth-of-type(5){
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

section:nth-of-type(5) > h2 {
    padding-top: 2em;
    font-size: 4em;
}

section:nth-of-type(5) > img {
    min-width: 30em;
} 

section:nth-of-type(5) > ul {
    padding-top: 5em;
    padding-bottom: 8em;

    /* de buttons wil ik mooier uit elkaar laten staan maar dat lukt me niet.. */
    /* UPDATE rowin had mij hiermee geholpen door een margin eraan toe te voegen, zie volgende stukje code */
    display: flex;
    align-content: space-around;
    flex-direction: row;
    list-style: none;
}

section:nth-of-type(5) > ul > li {
    margin: 0 1em;
}
section:nth-of-type(5) > ul > img {
    border-radius: 2em;
}

section:nth-of-type(5) > ul > li > button {
    background: transparent;
}
/* gegevens voor javascript */
/* hieronder staan de kleuren die nog niet zichtbaar zijn, maar pas worden aangeroepen als er op de knopjes gedrukt wordt */
section:nth-of-type(5).achtergrondPaars {
    background-color: var(--backgroundcolorPaars);
}
section:nth-of-type(5) > h2.headingPaars {
    color: var(--textcolorPaars);
}

section:nth-of-type(5).achtergrondGroen {
    background-color: var(--backgroundcolorGroen);
}
section:nth-of-type(5) > h2.headingGroen {
    color: var(--textcolorGroen);
}

section:nth-of-type(5).achtergrondBlauw {
    background-color: var(--backgroundcolorBlauw);
}
section:nth-of-type(5) > h2.headingBlauw {
    color: var(--textcolorBlauw);
}

section:nth-of-type(5).achtergrondRood {
    background-color: var(--backgroundcolorRood);
}
section:nth-of-type(5) > h2.headingRood {
    color: var(--textcolorRood);
}

section:nth-of-type(5).achtergrondGoud {
    background-color: var(--backgroundcolorGoud);
}
section:nth-of-type(5) > h2.headingGoud {
    color: var(--textcolorGoud);
}

section:nth-of-type(5).achtergrondZwart {
    background-color: var(--backgroundcolorZwart);
}
section:nth-of-type(5) > h2.headingZwart {
    color: var(--textcolorZwart);
}





/****************************************************************
FOOTER
*****************************************************************/
footer {
    background-color: var(--backgroundcolorFirstSection);
    padding-top: 5em;
    padding-left: 2em;
    display:grid;
    gap: 4em;

    /* Dit heb ik gekopieerd uit de les, de 'repeat' en de maten die daaraan gegeven worden betekent
    dat er zoveel mogelijk lijstjes in de gegeven ruimtes naast elkaar worden gedaan zolang het past
    alleen weet ik niet wat de '1fr' betekent */
    grid-template-columns: repeat(  auto-fit, minmax(12em,1fr)  );

    /* hieronder begint er een nieuwe rij als het scherm te klein is voor de hoeveelheid */
    /* ul's en de gegeven maten, hij start dus een nieuwe rij eronder als het niet meer past */
    grid-row-start: 1;
    grid-row-end: -1;
}

footer ul:first-of-type {
    list-style: none;
}

footer li {
    line-height: 2.5em;
}
