/******************************************************************
ALGEMEEN
******************************************************************/
@font-face {
    font-family: AppleFontTekst;
    src: url("fonts/SFUIText/SFUIText-Regular.otf");
  }

*, html {
    margin: 0;
    padding: 0;
}

:root {
    --colorKnop: rgb(0, 112, 199);
    --textKnop: rgb(255, 255, 255);
    --colorKnopHover: rgb(89, 176, 243);
    --onderstebuttonsBackground: rgb(199, 199, 199);
    --onderstebuttonsTekst: rgb(82, 82, 82);
}

body {
    font-family: AppleFontTekst;    
}





/******************************************************************
HEADER
******************************************************************/
nav img {
    width: 6em;
   
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 5em;
    width: 10em;
    padding: .8em;
    background-color: var(--colorKnop);
}

/* dropdown knop */

/* positie voor dropdown items */
.dropdown {
    position: relative;
    display: inline-block;
}

/* content die uitgeklapt wordt */
.dropdowncontent {
    display:none;
    position:absolute;
    background-color: var(--onderstebuttonsBackground);
    border-radius: 2em;
    z-index: 1;
    min-width: 20em;
    box-shadow: 1em 1em 1em 1em  rgba(0,0,0,0.2);
}

/* de linkjes */
.dropdowncontent a {
    color: var(--colorKnop);
    text-decoration: none;
    display: block;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 2em;
}

.dropdown:hover .dropdowncontent{
    display: block;

}

.dropdownbutton {
    background-color: transparent;
    color: var(--onderstebuttonsTekst);
}

p:first-of-type {
    color: var(--textKnop);
}
.bewaar:hover {
    background-color: var(--colorKnopHover);
    transition: .2s;
}

a {
    list-style: none;
    text-decoration: none;
}





/******************************************************************
EERSTE SECTIE
******************************************************************/
p {
    font-size: 1.3em; 
}

h1 {
    font-size: 1.3em;
    color:var(--onderstebuttonsTekst);
}

section img {
    padding-top: 5em;
    width: 10em; 
}
section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    line-height: 2.5em;
   /* max-width: 30em; */
}
.zijkant {
    color: var(--colorKnop);
    background-color: transparent;
}

section ul:last-of-type {
    padding-top: 2em;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.grijzebuttons {
    background: var(--onderstebuttonsBackground);
    font-size:.8em;
    width: 5em;
    color: var(--onderstebuttonsTekst);
}



