/***************************************************************
ALGEMEEN
***************************************************************/
@font-face {
    font-family: AppleFontTekst;
    src: url("fonts/SFUIText/SFUIText-Regular.otf");
  }

*, html {
    margin: 0;
    padding: 0;
}

:root {
    --colorKnop: rgb(0, 112, 199);
    --textKnop: rgb(255, 255, 255);
    --colorKnopHover: rgb(89, 176, 243);
}

body {
    font-family: AppleFontTekst;    
}





/***************************************************************
HEADER
***************************************************************/
header img {
    width: 6em;
    padding-top: 2em;
    padding-left: 2em;
    position: fixed;
}





/***************************************************************
EERSTE SECTIE
***************************************************************/
section:first-of-type {
    display: flex;
    flex-direction: column;
    padding-top: 6em;
    padding-left: 5em;
}

h1 {
    font-size: 3.5em;
    padding-bottom: 1.5em;
}

p {
    font-size: 2em;
    max-width: 15em;
}

p:last-of-type {
    padding-bottom: 2em;
}

a {
    border: none;
    cursor: pointer;
    border-radius: 5em;
    width: 10em;
    padding: .8em;
    background-color: var(--colorKnop);
    color: var(--textKnop);
    font-size: 1em;
    list-style: none;
    text-decoration: none;
}

a:hover {
    background-color: var(--colorKnopHover);
    transition: .2s;
}





/***************************************************************
TWEEDE SECTIE
***************************************************************/
section:nth-of-type(2) {
    padding-top: 5em;
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}

section:nth-of-type(2) img {
    padding-top: 6em;
    width: 20em;
    transition: .3s;
}

section:nth-of-type(2) img:hover {
    transform:scale(1.5);
}

